@import '~antd/dist/antd.css';
.App {
  background-color: bisque;
}
.ant-menu-inline{
    width: 100%;
}

// form setup alignment
#set-up-form{
    .ant-space-horizontal{
        .ant-space-item{
            flex:1;
            .ant-form-item{
                flex:1;
                .ant-input-number{
                    min-width: 100%;
                }
            }
        }
        .ant-space-item:last-child{
            flex:0
        }
    }
    
    // form setup button alignment
    .ant-form-item-control-input{
        .ant-form-item-control-input-content{
            display: flex;
            justify-content: flex-end;
        }
    }
}
.events{
    padding-inline-start: 0px !important;
    span{
        font-size: "50%"!important;
    }
    .ant-badge-status-text{
        font-size: "50%"!important;

    }
}
// change fullcalender button
.fc-toolbar-chunk{
    .fc-button-primary{
        color:black !important;
        background-color: white !important;
        border:none
    }
}

#order-form{
    .ant-space-item{
        flex:1
    }
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
    background-color: white;
}
.orderTable > table{
    font-size: 80% !important;
    
    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
        font-size: 80% !important;
    }
}
.orderTable {
    .ant-btn > span{
        font-size: 80% !important;
    }
}
