body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
    min-height: 100vh;
}
.App{
    flex:1;
    min-height: 100vh;
}
.ant-layout.ant-layout-has-sider{
    min-height: 100vh;
    flex:1
}
/* #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  } */

  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    color: unset;
    font-size: unset;
  }
  
  .ant-carousel .slick-prev:hover,
  .ant-carousel .slick-next:hover,
  .ant-carousel .slick-prev:focus,
  .ant-carousel .slick-next:focus {
    color: unset;
  }

  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    color: black !important;
    font-size: 20px !important
  }
  /* .ant-picker-calendar-header .ant-radio-group {
    display: none !important
}
.ant-picker-calendar-header{
    justify-content:flex-start !important;
    background-color: "none" !important
}
.ant-badge .ant-badge-status .ant-badge-not-a-wrapper{
    font-size: "50%" !important;
} */
